/*
_______________________________
Desktop version layout - place your custom code here */

body {

}

.pageBackground {
background-color:white;
}

.topNavBar {
background-color: black;
color: #999;
font-family: Consolas,monospace, "Courier New";
font-size: 0.8em;
text-align:right;
line-height:1.6em;
}

.pageForeground {
background-color: white;
}

.siteBanner {
display:block;
padding-top: 2em;
padding-bottom: 2em;
}

a.siteBanner:hover{
text-decoration:none;
}

#siteTitle{
font-family:Consolas, monospace, "Courier New";
font-size:3.0em;
margin:0 0 0 0;
}

#siteTagline {
font-family:"Palatino Linotype", "MS Serif", "Times New Roman";
color:black;
font-style: italic;
margin: 0em 0px 0em 0px;
font-size: 1.5em;
font-weight: normal;
}

.hmenu {
text-align: center;
font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif;
font-size: 1.1em;
border-top: 1px solid #8C8C8C;
border-bottom: 1px solid #8C8C8C;
padding-top: .35em;
padding-bottom: .35em;
text-shadow: #EBEBEB 0 1px;
text-decoration: none;
color:#444;
}

.articleTitle {
font-size: 3.2em;
color: darkRed;
font-weight: normal;
font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif;
line-height: 1.5;
margin-bottom: 1.0em;
}

.publicationDate {
margin-top: -4em;
margin-bottom: 1.0em;
display: block;
background-color: white;
margin-right: 0em;
width: 12.2em;
padding: 0em 0.5em 0em 0.5em;
font-family: georgia;
font-size: 1.0em;
color: dimGray;
font-style: normal;
}

.post {
font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif;
font-size: 1.0em;
line-height: 1.5em;
color: #111;
text-align: justify;
}

/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

.topNavBar {
text-align:center;
}

.pageForeground {
border-radius:0px;
moz-border-radius:0px;
}

.siteBanner {
margin-top:-16px;
padding-left: 0.2em;
padding-right: 0.2em;
background-position: bottom center;
}

#siteTitle{
font-size:2.3em;
padding-left:0px;
}

.hmenu {
margin-top:-11px;
}

.publicationDate {
   margin-top:-2.5em;
   margin-left:5em;
}

	.examplecontainer {}

	body {}
}

/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
	.download {
	background: url(../img/downarrow@2x.png) no-repeat;
	background-size: 27px 28px;
	}
	*/
}

/* from http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media handheld, only screen and (max-width : 320px) {
/* Styles */
#siteTitle{
font-size:1.8em;
padding-left:0px;
}

#siteTagline {
   font-size:0.9em;
}

.publicationDate {
   margin-top:-2.5em;
   margin-left:2em;
}
}
