/*
_______________________________
Desktop version layout - place your custom code here */

body {

}

.pageBackground {
background-image:url(images/background_texture_wood.png), url(images/binder.jpg);
background-repeat:repeat, repeat-y;
}

.pageForeground {
background-color: beige;
border-radius:15px;
moz-border-radius:15px;
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
}

.banner {
background-image:url(images/oncrashrebootbanner.jpg);
background-repeat:no-repeat;
background-size:cover;
}

.hmenu {
background-color: #333;
text-align: center;
color: white;
}

.post {
font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif;
font-size: 1.0em;
line-height: 1.5em;
color: #111;
text-align: justify;
}

/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

	.examplecontainer {}

	body {}
	
}


/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
	.download {
	background: url(../img/downarrow@2x.png) no-repeat;
	background-size: 27px 28px;
	}
	*/

}
