{% macro comments(article) %}
    {% if SITEURL and article.status != 'draft' and article.comments != 'False' %}

    {% from '_includes/_defaults.html' import DISQUS_FILTER with context %}

    {%if (not DISQUS_FILTER or article.disqus_filter == "off") and DISQUS_SITENAME and article.disqus_filter != "on" %}

<section>
{% if article.comments_intro %}
<p id="comment-message">{{ article.comments_intro }} </p>
{% else %}
    {% from '_includes/_defaults.html' import COMMENTS_INTRO with context %}
    {%if COMMENTS_INTRO %}
<p id="comment-message">{{ COMMENTS_INTRO }} </p>
    {% endif %}
{% endif %}
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle disqus-comment-count" data-toggle="collapse" data-parent="#accordion2"
                {% if article.comment_id %}
                    data-disqus-identifier="{{ article.comment_id }}"
                {% elif article.disqus_identifier %}
                    data-disqus-identifier="{{ article.disqus_identifier }}"
                {% endif %}
                href="{{ SITEURL }}/{{ article.url }}#disqus_thread",
                id="disqus-accordion-toggle">
                Comments
            </a>
        </div>
        <div id="disqus_thread" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="comments">
                    {% from '_includes/disqus_scripts.html' import disqus_comments_script with context %}
                    {{ disqus_comments_script(article) }}
                </div>
            </div>
        </div>
    </div>
</div>
</section>
    {% endif %}
    {% endif %}
{% endmacro %}

{% macro comments_script(article) %}
    {% if SITEURL and article.status != 'draft' %}
    {% from '_includes/_defaults.html' import DISQUS_FILTER with context %}

    {%if (not DISQUS_FILTER or article.disqus_filter == "off") and DISQUS_SITENAME and article.disqus_filter != "on" %}

        {% from '_includes/disqus_scripts.html' import disqus_misc_scripts with context %}
        {{ disqus_misc_scripts() }}
    {% endif %}
    {% endif %}
{% endmacro %}
