<script type="text/javascript">
 $(document).ready(function () {
     $('.erdos-context').fadeIn('slow');

     $('.erdos-fadein-challenge').click(function () {
    	 $('.erdos-challenge').fadeIn('slow');
         $('.erdos-fadein-challenge').prop('disabled', true);
     });
     $('.erdos-fadein-solutions').click(function () {
    	 $('.erdos-solutions').fadeIn('slow');
         $('.footnote').fadeIn('slow');
         $('.erdos-fadein-solutions').prop('disabled', true);
     });
 });
</script>
