<footer>
<div id="footer">
    <ul class="footer-content">
        {% from '_includes/_defaults.html' import SITESUBTITLE with context %}
        {% if SITESUBTITLE %}
        <li class="elegant-subtitle"><span class="site-name">{{ SITENAME }}</span> - {{ SITESUBTITLE }}</li>
        {% endif %}
        {% from '_includes/_defaults.html' import SITE_LICENSE with context %}
        {% if SITE_LICENSE %}
        <li class="elegant-license">{{ SITE_LICENSE }}</li>
        {% endif %}
        <li class="elegant-w3c"><a href="//validator.w3.org/check?uri=referer"><i class="fa fa-html5"></i></a><a href="//jigsaw.w3.org/css-validator/validator?uri={{ SITEURL }}"><i class="fa fa-css3"></i></a></li>
        <li class="elegant-power">Powered by <a href="http://getpelican.com/" title="Pelican Home Page">Pelican</a>. Theme: <a href="https://github.com/Pelican-Elegant/pelican-elegant/" title="Theme Elegant Home Page">Elegant</a></li>
    </ul>
</div>
</footer>
