{% if article.metadata.parts_articles %}
    {%if SERIES_TITLE %}
        <h4>{{ SERIES_TITLE }}</h4>
    {% elif article.series_title %}
        <h4>{{ article.series_title }}</h4>
    {% else %}
        <h4>{{ article.parts }}</h4>
    {% endif %}
    <ul class="multi-parts-list">
        {% for part_article in article.metadata.parts_articles %}
            <li {% if part_article == article %}class="active-part"{% endif %}>
            {% if part_article != article %}
            <a href="{{ SITEURL }}/{{ part_article.url }}" title="{{ part_article.title }}">Part {{loop.index}}</a>
            {% else %}
            Part {{loop.index}}
            {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
