{% macro share_links(article) %}
    {% if article.share_post and article.status != 'draft' %}
    <p id="post-share-links">
    {% if article.share_post_intro %}
    {{ article.share_post_intro }}
    {% else %}
    {% from '_includes/_defaults.html' import SHARE_POST_INTRO with context %}
    {{ SHARE_POST_INTRO }}
    {% endif %}
    <a href="{{article.share_post['twitter']}}" target="_blank" rel="nofollow noopener noreferrer" title="Share on Twitter">Twitter</a>
    ❄
    <a href="{{article.share_post['facebook']}}" target="_blank" rel="nofollow noopener noreferrer" title="Share on Facebook">Facebook</a>
    ❄
    <a href="{{article.share_post['email']}}" target="_blank" rel="nofollow noopener noreferrer" title="Share via Email">Email</a>
    </p>
    {% endif %}
{% endmacro %}
