#one {
position:relative;
width:68px;
float:left;
padding-right:24px;
}

#two {
position:relative;
width:160px;
float:left;
padding-right:24px;
}

#three {
position:relative;
width:252px;
float:left;
padding-right:24px;
}

#four {
position:relative;
width:344px;
float:left;
padding-right:24px;
}
