div.highlight {
  margin-bottom: 20px;
  border-radius: var(--borderRadius);
}
td.code div.highlight {
  border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}
pre {
  overflow: auto;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  color: #ebdbb2; /* This is needed due to bug in Pygments. It does not wraps some part of the code of some lagauges, like reST. This is for fallback. */
}
table {
  table-layout: fixed;
  width: 100%;
}
td {
  vertical-align: top;
}
@media (max-width: 979px) {
  .linenos {
    display: none !important;
  }
}
.linenos {
  width: 30px;
}
.linenos div pre {
  text-align: right;
  overflow: hidden;
}
td.code {
  width: 100%;
}
.linenodiv pre {
  border-radius: var(--borderRadius) 0 0 var(--borderRadius);
  color: #ebdbb2;
  background-color: #282828;
}
table.highlighttable {
  border: none;
}
table.highlighttable td {
  border: none;
}
table.highlighttable tbody > tr:nth-child(odd) > td {
  background-color: transparent;
}
