/* Top, right navigation button */
input[type=checkbox]#btn-navbar-checkbox {
  opacity: 0;
  float: right;
  position: relative;
  left: -43px;
  top: 2px;
  height: 30px;
  width: 38px;
}

input[type=checkbox]#btn-navbar-checkbox:not(:checked) ~ .collapse {
  height: auto;
}

/* fix label settings for accordion */
.accordion-toggle label {
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  margin-bottom: unset;
}

/* radio type accordion */
.accordion .accordion-group input[type=radio] {
  display: none;
}

.accordion .accordion-group input[type=radio] ~ .collapse {
  height: 0;
}

.accordion .accordion-group input[type=radio]:checked ~ .collapse {
  height: auto;
}

/* checkbox type accordion */
.accordion .accordion-group input[type=checkbox] {
  display: none;
}

.accordion .accordion-group input[type=checkbox]:not(:checked) ~ .collapse {
  height: auto;
}

/* Disqus comment text */
input[type=checkbox]#comment-accordion-toggle-checkbox:not(:checked) ~ .accordion-heading #comment-accordion-toggle::before {
  content: "Click here to hide comments";
}

input[type=checkbox]#comment-accordion-toggle-checkbox:checked ~ .accordion-heading #comment-accordion-toggle::before {
  content: "Comments";
}
