@page-footer-border-top: 1px solid  rgba(0, 0, 0, .2);
@page-footer-color: #f5f5f5;
@page-footer-height: 50px;
@page-footer-height-subset: 16;

@page-header-color: #8B0000;

@navbar-top-background-color: #FAFAFA;
@navbar-top-background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
@navbar-top-border: 1px solid #D4D4D4;
@navbar-top-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

@font-family-sans-serif:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-monospace: Roboto, Menlo, Monaco, Consolas, "Courier New", monospace;
@headings-font-family: Lora, Baskerville, Garamond, Georgia, 'DejaVu Serif', 'Times New Roman', Times, Serif;
@grid-float-breakpoint: @screen-md-min;
@page-header-border-color: #8f8686;
