.container-fluid input, .accordion-heading input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

form.navbar-search input.search-query {
  position: unset;
  opacity: unset;
  z-index: unset;
}
.disqus-comments {
  font-family: "Trebuchet MS", Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, Sans-Serif;
  font-size: 0.9em;
}

.disqus-comment-count span {
  position: relative;
  content: 'Comments';
}

input:checked + .disqus-comment-count span {
  display: none;
}

input:checked + .disqus-comment-count::after {
  content: 'Click here to hide comments';
}

input:checked ~ .collapse {
  height: auto;
}

@media screen and (max-width: 979px) {
  .nav-collapse .navbar-search {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  input:checked ~ .nav-collapse {
    height: 100%;
  }
}

