body,
html {
    height: 100%;
}
#content-sans-footer {
    min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: Baskerville,Garamond,Georgia,'DejaVu Serif','Times New Roman',Times,serif;
    font-weight: normal;
}
a {
    color: #3875d7;
}
/* site title */
.site-name {
    font-family: 'Monaco','Inconsolata','Andale Mono','Lucida Console','Bitstream Vera Sans Mono','Courier New',Courier,monospace;
}
/* Top navigation menu */
ul.top-menu li a {
    font-weight: bold;
}
/* Footer */
div#footer {
    border-top: 1px solid rgba(0,0,0,.2);
    font-family: calibri,tahoma,arial,sans-serif;
    font-size:.7em;
    margin: 15px 0;
    padding: 2px 5px 0;
}
ul.footer-content {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.footer-content li {
    padding-left: 5px;
}
ul.footer-content li.elegant-power {
    float: right;
}
ul.footer-content li.elegant-license {
    float: left;
}
ul.footer-content li.elegant-subtitle {
    float: left;
}
/* comment */
#comment-message {
    color: #808080;
    font-family: 'PT Serif',Georgia,Times,'Times New Roman',serif;
    font-size: 1em;
}
a.disqus-comment-count {
    font-family: 'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-size: .9em;
}
div#disqus_thread {
    padding-left: 10px;
    padding-right: 10px;
}
/* Syntax Highlight */
.highlight pre {
    background-color: #fdf6e3;
    border-radius: 3px 3px 3px 3px;
}
td.code .highlight pre {
    border-radius: 0 3px 3px 0;
}
td.code {
    width: 100%;
}
.linenodiv pre {
    background-color: #eee8d5;
    border-radius: 3px 0 0 3px;
    color: #657b83;
}
/* Tags */
.list-of-tags {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    list-style: none;
    margin: 0;
    overflow: hidden;
}
.list-of-tags li {
    float: left;
    line-height: 28px;
    margin: 0;
}
.list-of-tags a {
    background: #EEE;
    border-radius: 3px;
    color: #222;
    margin: 2px;
    padding: 3px 6px;
    text-decoration: none;
}
.list-of-tags a span {
    font-size: .8em;
    vertical-align: super;
}
.tags-in-article li {
    float: none;
    line-height: 28px;
}
h2.tag-title {
    font-family: 'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
}
ul.articles-in-tag li {
    font-family: 'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-size: 1.1em;
}
/* Article */
article p a,
article ol a,
article div.article-content ul:not(.articles_timeline) a {
    border-bottom: thin dashed #A9A9A9;
    color: #000;
}
article p a:hover,
article ol a:hover,
article div.article-content ul:not(.articles_timeline) a:hover {
    border-bottom: none;
    text-decoration: none;
    text-shadow: none;
}
.article-content {
    font-family: 'PT Serif',Georgia,Times,'Times New Roman',serif;
    font-size: 1.2em;
    max-width: 50em;
    text-align: justify;
}
.article-content p {
    font-size: inherit;
    font-variant: normal;
    line-height: 1.6em;
    margin: 20px 0;
    text-transform: none;
}
.article-content blockquote {
    border-left: 0;
    margin: 20px 0 0 2em;
    padding: 0 0 0 20px;
}
.article-content blockquote:before {
    color: #646464;
    content: '\f10d';
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    margin-left: -2em;
    text-decoration: inherit;
}
.article-content blockquote p {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: inherit;
    font-variant: normal;
    line-height: 1.7em;
    margin-top:-20px;
    text-transform: none;
}
.article-content ul {
    font-size: inherit;
    list-style-type: circle;
}
.article-content ol {
    font-size: inherit;
    list-style-type: decimal;
}
.article-content li {
    line-height: 1.7em;
    list-style-position: outside;
    margin: 1px 0 1px 20px;
}
.article-content dl {
    font-size: inherit;
    list-style-position: outside;
    list-style-type: decimal;
    margin: 20px 0 20px 20px;
}
.article-content dd {
    line-height: 1.7em;
    margin: 1px 0 1px 20px;
    padding: 3px 0;
}
.article-content dt {
    font-size: inherit;
}
.page_header h1 {
    border-bottom: 1px solid #8f8686;
    color: #8B0000;
    font-size: 3em;
    font-weight: normal;
    margin: 20px 0;
    padding: 5px 5px 15px;
}
.page_header h1 small {
    color: #8f7474;
}
.page_header h1 a {
    color: #8B0000;
}
.page_header h1 a:hover {
    text-decoration: none;
}
ul.articles_timeline {
    list-style: none;
    margin: 0;
    padding-bottom: 30px;
}
ul.articles_timeline li.next_article {
    float: right;
    margin: 0;
}
ul.articles_timeline li.previous_article  {
    float: left;
    margin: 0;
}
.sidebar-social-links {
    color: #646464;
    font-size: 1.2em;
    padding-right: 3px;
    text-decoration: none;
}
.sidebar-social-links i:hover {
    color: #000;
}
.table-of-content .toc {
    font-size: .7em;
}
.last-updated a {
    color: #333;
}
.last-updated a:hover {
    text-decoration: none;
}
.article-content img {
    border: 2px solid #EEE;
    padding: 5px;
}
/* Perma link in article */
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    text-decoration: none;
    visibility: visible;
}
a.headerlink {
    color: grey;
    padding-left:.5em;
    visibility: hidden;
}
/* Categories */
.list-of-categories span {
    font-size: .7em;
    vertical-align: super;
}
a.list-of-categories  {
    text-decoration: none;
}
ul.list-articles-category {
    list-style: none outside none;
    margin: 0 0 0 5px;
}
ul.list-articles-category li span {
    color: #AAA;
    font-family: 'PT Sans','Helvetica Neue',Arial,sans-serif;
    font-size: .9em;
    margin-right: 10px;
}
a.category-link {
    color: #333;
}
a.category-link:hover {
    text-decoration: none;
}
a.list-of-categories {
    font-family: 'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-size: 1.1em;
}
a.list-of-categories:hover {
    background-color: #08c;
    border-radius: 4px;
    color: #FFF;
}
/* Archives */
ul.list-all-articles {
    list-style: none;
    margin: 0;
}
ul.list-all-articles li {
    border-bottom: 1px dotted #000;
    font-family: 'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-size: 1.1em;
    padding:.3em 0;
}
ul.list-all-articles li time {
    color: #AAA;
    float: right;
    font-family: 'PT Sans','Helvetica Neue',Arial,sans-serif;
    font-size: .9em;
}
/* MailChimp */
/* MailChimp Form Embed Code - Slim - 08/17/2011
 * http://cdn-images.mailchimp.com/embedcode/slim-081711.css */
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}
#mc_embed_signup .clear {clear:none; display:inline;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {display:block; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:58%; min-width:130px;}
#mc_embed_signup input.button {display:block; width:35%; margin:0 0 10px 0; min-width:90px;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
/* end of code copied from Mailchimp provided CSS file */
#mc_embed_signup {
    font-family: inherit;
    font-size: inherit;
    margin: 10px 0;
}
#mc_embed_signup form {
    padding: 0;
}
#mc_embed_signup input.button {
    width: 100%
}
#mc_embed_signup input.email {
    font-size: .9em;
    width: 100%;
}
#mc_embed_signup .button {
    background-color: #EEE;
    border: 1px solid #D3D3D3;
    color: #000;
    font-size: 1em;
    font-weight: normal;
}
#mc_embed_signup .button:hover {
    background-color: #DFDFDF;
}
#mc_embed_signup input[type='email'] {
    height: 100%;
}
/* Index page */
#allposts {
    color: #999;
    float: right;
    font-size: 75%;
    font-weight: normal;
}
.proj_desc {
    color: #999;
    font-family: 'PT Sans','Helvetica Neue',Arial,sans-serif;
    font-size: .9em;
}
/* reST specific rules*/
.literal {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    color: #d14;
    padding: 2px 4px;
    white-space: nowrap;
}
.amp {
    font-family: 'Warnock Pro','Goudy Old Style','Palatino','Book Antiqua',serif;
    font-style: italic;
}

