/* Syntax Highlight */
.codehilite pre {
    background-color:rgb(253,246,227);
    border-radius:0 5px 5px 0px;
}

td.code {
    width:100%;
}

.linenodiv pre {
    border-radius:5px 0px 0px 5px;
    color:rgb(101,123,131);
    background-color:rgb(238,232,213);
}

/* Tags */
.list-of-tags {
    list-style:none;
    margin:0;
    padding:5px 0 ;
    overflow:hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.list-of-tags li {
    line-height:28px;
    float:left;
    margin:0px;
}

.list-of-tags a {
    padding: 3px 6px;
    margin: 2px;
    color: #222;
    background:#EEE;
    border-radius: 3px;
    text-decoration:none;
}

.list-of-tags a span {
    vertical-align: super;
    font-size: 0.8em;
}

.tags-in-article li {
    line-height:28px;
    float:none;
}

.article-content {
    text-align:justify;
    max-width:50em;
}

.article-content p{
    font-family: Scala, Georgia, "DejaVu Serif", "Times New Roman", Times, serif; 
    font-variant: normal;
    text-transform: none;
    font-size: 1.1em;
    line-height: 1.6em;
    margin:20px 0px 20px 0px;
}

.article-content blockquote {
    padding: 0px 0px 0px 20px;
    margin: 20px 0px 20px 0px;
    border-left: 5px solid rgb(100,100,100);
}

.article-content blockquote p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-variant: normal;
    text-transform: none;
    font-size: 1.2em;
    line-height: 1.7em;
}
.list-of-categories span {
    vertical-align: super;
    font-size: 0.8em;
}

a.list-of-categories  {
    text-decoration:none;
}

.article-content ul {
    list-style-type: circle;
    font-family: Scala, Georgia, "DejaVu Serif", "Times New Roman", Times, serif; 
    font-size:1em;
    list-style-position: inside;
}

.article-content ol {
    list-style-type: decimal;
    font-family: Scala, Georgia, "DejaVu Serif", "Times New Roman", Times, serif; 
    font-size: 1em;
    list-style-position: inside;
}

.article-content li {
    margin:1px 0px 1px 20px;
}

.article-content dl {
    list-style-type: decimal;
    font-family: Scala, Georgia, "DejaVu Serif", "Times New Roman", Times, serif; 
    font-size: 1em;
    list-style-position: inside;
    margin:20px 0px 20px 20px;
}

.article-content dd {
    margin:1px 0px 1px 20px;
    padding:3px 0px 3px 0px;
}

.article-content dt {
    font-size:1.3em;
}

.page_header h1 {
    color:darkred;
    padding: 5px 5px 15px 5px;
    margin: 20px 0px 20px 0px;
    border-bottom: 1px solid rgb(143, 134, 134);
    font-size: 3em;
    font-family: Georgia, "DejaVu Serif", "Times New Roman", Times, serif;
    font-weight:normal;
}

.page_header h1 small {
    color:rgb(143, 116, 116);
}
.page_header h1 a {
    color:darkred;
}

.page_header h1 a:hover {
    text-decoration:none;
}

h2 a {
    color:rgb(51,51,51);
}

h2 a:hover {
    text-decoration:none;
    color:rgb(51,51,51);
}

a.category-link {
    color:rgb(51,51,51);
}

a.category-link:hover {
    text-decoration:none;
}

a {
    color:rgb(56, 117, 215);
}

a.list-of-categories {
    font-size:1.1em;
    font-family: 'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
}

a.list-of-categories:hover {
    color:white;
    background-color:rgb(0, 136, 204);
    border-radius:4px;
}
