.list-of-tags {
    list-style:none;
    margin:0;
    padding:5px 0 ;
    overflow:hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.list-of-tags li {
    line-height:28px;
    float:left;
    margin:0px;
}

.list-of-tags a {
    padding: 3px 6px;
    margin: 2px;
    color: #222;
    background:#EEE;
    border-radius: 3px;
    text-decoration:none;
}

.list-of-tags a span {
    vertical-align: super;
    font-size: 0.8em;
}

.tags-in-article li {
    line-height:28px;
    float:none;
}

.article-content {
    text-align:justify;
    max-width:50em;
}

.article-content p{
    font-family: Scala, Georgia, "DejaVu Serif", "Times New Roman", Times, serif; 
    font-variant: normal;
    text-transform: none;
    font-size: 1.1em;
    line-height: 1.6em;
    margin:20px 0px 20px 0px;
}

.article-content blockquote {
    padding: 0px 0px 0px 20px;
    margin: 20px 0px 20px 0px;
    border-left: 5px solid rgb(100,100,100);
}

.article-content blockquote p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-variant: normal;
    text-transform: none;
    font-size: 1.2em;
    line-height: 1.7em;
}
.list-of-categories span {
    vertical-align: super;
    font-size: 0.8em;
}

a.list-of-categories  {
    text-decoration:none;
}

h1 {
    padding: 5px 5px 15px 5px;
    margin: 20px 0px 20px 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
    font-size: 3em;
}

ul {
    list-style-type: circle;
    font-family: Scala, Georgia, "DejaVu Serif", "Times New Roman", Times, serif; 
    font-size:1em;
    list-style-position: inside;
}

ol {
    list-style-type: decimal;
    font-family: Scala, Georgia, "DejaVu Serif", "Times New Roman", Times, serif; 
    font-size: 1em;
    list-style-position: inside;
}

li {
    margin:1px 0px 1px 20px;
}

dl {
    list-style-type: decimal;
    font-family: Scala, Georgia, "DejaVu Serif", "Times New Roman", Times, serif; 
    font-size: 1em;
    list-style-position: inside;
    margin:20px 0px 20px 20px;
}

dd {
    margin:1px 0px 1px 20px;
    padding:3px 0px 3px 0px;
}

dt {
    font-size:1.3em;
}