{% extends 'base.html' %}

{% block title %}
All Posts · {{ super() }}
{% endblock title %}

{% block head_description %}
Full archives of {{ SITENAME|striptags }} blog.
{% endblock head_description %}

{% block content %}

<div class="row-fluid">
    <header class="page-header span10 offset2">
    <h1><a href="{{ SITEURL }}/archives.html">All Posts</a></h1>
    </header>
</div>
<div class="row-fluid">
    <div class="span10 offset2">
        <div class="blog-archives">
            {% set last_year = 0 %}
            {% for article in dates %}
            {% set year = article.date.strftime('%Y') %}
            {%if last_year != year %}
            <h2 id="{{year }}"><a href="#{{year}}">{{ year }}</a></h2>
            {% set last_year = year %}
            {% endif %}
            {% set next_year = 0 %}
            {% if not loop.last %}
            {% set next = loop.index0 + 1 %}
            {% set next_article = dates[next] %}
            {% set next_year = next_article.date.strftime('%Y') %}
            {% endif %}
            {% if next_year != year %}
            <article class="last-entry-of-year">
            {% else %}
            <article>
            {% endif %}
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a>
            <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            </article>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
