{% extends 'base.html' %}

{% block title %}
All Posts · {{ super() }}
{% endblock title %}

{% block head_description %}
Full archives of {{ SITENAME|striptags }} blog.
{% endblock head_description %}

{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <header class="page-header col-md-10">
    <h1><a href="{{ SITEURL }}/archives.html">All Posts</a></h1>
    </header>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled list-all-articles">
            {% for article in dates %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a>
            <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
