{% extends 'base.html' %}

{% block title %}
All Categories · {{ super() }}
{% endblock title %}

{% block head_description %}
All categories of the {{ SITENAME|striptags }} blog. 
{% endblock head_description %}

{% block feed_links %}
{{ super() }}
{% include 'feeds_categories.html' %}
{% endblock feed_links %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <header class="page-header col-md-10">
    <h1><a href="{{ SITEURL }}/categories.html">All Categories</a></h1>
    </header>
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-group" id="accordion2">
            {% for category, articles in categories %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title list-of-categories" data-toggle="collapse" data-parent="#accordion2" href="#{{ category.slug }}-ref">
                        {% set num = articles|count %}
                        {{ category }}<span>{{ num }}</span>
                    </a>
                </div>
                <div id="{{ category.slug }}-ref" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-unstyled list-articles-category">
                            {% for article in articles %} 
                            <li><span><time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
{{ super() }}
<script  language="javascript" type="text/javascript">
    function uncollapse() {
            $(window.location.hash).collapse({
                toggle: true
            })
    }
</script>

<script type="text/javascript" language="JavaScript">
    uncollapse(); 
</script>
{% endblock script %}
