<footer>
<div class="navbar navbar-fixed-bottom" id="footer">
    <ul class="footer-content">
        {% if SITESUBTITLE %}
        <li class="elegant-subtitle">{{ SITENAME }} - {{ SITESUBTITLE }}</li>
        {% endif %}
        {% if ELEGANT_LICENSE %}
        <li class="elegant-license">{{ ELEGANT_LICENSE }}</li>
        {% endif %}
        <li class="elegant-power">Powered by <a href="http://getpelican.com/" title="Pelican Home Page">Pelican</a> and <a href="https://github.com/talha131/pelican-elegant" title="Elegant theme Home Page">Elegant theme</a> by <a href="http://oncrashreboot.com" title="Talha Mansoor Home Page">Talha Mansoor</a></li>
    </ul>
</div>
</footer>
