{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block meta_tags_in_head %}

{{ super() }}
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:article:author" content="{{ AUTHOR }}" />

{% from '_includes/_defaults.html' import LANDING_PAGE_ABOUT with context %}
<meta property="og:title" content="{{ LANDING_PAGE_ABOUT.title|e }}"/>
<meta name="twitter:title" content="{{ LANDING_PAGE_ABOUT.title|e }}">

{% from '_includes/_defaults.html' import SITE_DESCRIPTION with context %}
<meta property="og:description" content="{{SITE_DESCRIPTION|e}}" />
<meta name="twitter:description" content="{{SITE_DESCRIPTION|e}}">

{% from '_includes/_defaults.html' import FEATURED_IMAGE with context %}
{% if FEATURED_IMAGE %}
<meta property="og:image" content="{{FEATURED_IMAGE}}" />
<meta name="twitter:image" content="{{FEATURED_IMAGE}}" >
{% endif %}

{% endblock meta_tags_in_head %}

{% block content %}
{% from '_includes/_defaults.html' import LANDING_PAGE_ABOUT with context %}
<div class="row-fluid">
    {% set css_class = 'span10 offset2' %}
    <header class="page-header {{css_class}}">
    <h1><a href="{{ SITEURL }}">{{ LANDING_PAGE_ABOUT.title }}</a></h1>
    </header>

    <div class="row-fluid">
        {% set css_class = 'span8 offset2' %}
        <div class="{{css_class}}">
            <header>
            <h1 id="about-me">{{ LANDING_PAGE_ABOUT.subtitle }}</h1>
            </header>
            <div class="article-content">
                {{ LANDING_PAGE_ABOUT.details }}
            </div>
        </div>
    </div>

</div>
{% endblock content %}
