{% if SOCIAL %}
    {% if not SOCIAL_PROFILE_LABEL %}
        {% set SOCIAL_PROFILE_LABEL ='Contact' %}
    {% endif %}
<h4>{{ SOCIAL_PROFILE_LABEL }}</h4>
{% for name, url in SOCIAL %}
    {% set link_title = 'My ' + name + ' Profile' %}
    {% set link_icon = name.lower() %}
    {% if name.lower() == 'email' %}
        {% set link_title = 'My ' + name + ' Address' %}
        {% set link_icon = 'envelope' %}
    {% endif %}
<a href="{{url|e}}" title="{{link_title}}" class="sidebar-social-links" target="_blank">
    <i class="fa fa-{{link_icon}} sidebar-social-links"></i></a>
{% endfor %}
{% endif %}

