{% extends "base.html" %}

{% block title %}
All Tags - {{ super() }}
{% endblock title %}

{% block content %}
<script>
(function($) {

    $('.filterinput').keyup(function() {
        var a = $(this).val();
        if (a.length > 2) {
            // this finds all links in the list that contain the input,
            // and hide the ones not containing the input while showing the ones that do
            var containing = $('#list li').filter(function () {
                var regex = new RegExp('\\b' + a, 'i');
                return regex.test($('a', this).text());
            }).slideDown();
            $('#list li').not(containing).slideUp();
        } else {
            $('#list li').slideDown();
        }
        return false;
    })

}(jQuery));




















// custom css expression for a case-insensitive contains()
jQuery.expr[':'].Contains = function(a, i, m) {
    return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
};

</script>
<div class="row-fluid">
    <header class="page_header span7 offset3">
    <h1>All Tags</h1>
    </header>
</div>


<div class="row-fluid">
    <div class="span7 offset3">
        <form class="form-search">
            <input type="text" class="input-medium search-query">
        </form>
        <ul id="list">
            {% for tag, articles in tags %}
            <li>
            {% set num = articles|count %}
            {{ num }} 
            {% if num > 1 %}
            articles are 
            {% else %}
            article is
            {% endif %}
            tagged <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
